@font-face {
  font-family: 'Nunito';
  src:
    url('./fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'NunitoItalic';
  src:
    url('./fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
}


body {
  margin: 0;
  font-family: 'Nunito !important';
  background-image: url('./img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;}

code {
  font-family: 'Nunito !important';
}